/*Light mode default*/
.lightMode {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  min-width: 100vw;
}

/*Dark mode*/
.darkMode {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  min-width: 100vw;
}

/*Light mode button*/
.lightButton {
  background-color: #000000;
  color: #ffffff;
}

/*Dark mode button*/
.darkButton {
  background-color: #ffffff;
  color: #000000;
}